.banner-block {
  width: 320px;
  height: 568px;
  overflow: hidden; }
  .banner-block .inner-frame {
    white-space: nowrap;
    font-size: 0; }
    .banner-block .inner-frame img.slide {
      width: 100%;
      height: 100%;
      display: inline-block; }
